*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background-color: hsl(0, 0%, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  margin-left: 2rem;
  padding: 1rem;
}

.navbar {
  width: 2rem;
  height: 10%;
  position: fixed;
  background-color: hsl(0, 0%, 30%);
  top: 0;
  left: 0;
  z-index: 1;
  transition: width 200ms ease;
  border-right: 2px inset hsl(0, 0%, 67%);
  border-bottom: 2px inset hsl(0, 0%, 67%);
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 2rem;
  color: hsl(0, 0%, 70%);
  text-decoration: none;
}

.link-text {
  display: none;
  font-size: 2rem;
  transition: display 200ms ease;
}

.navbar:hover {
  width: 15rem;
}

.navbar:hover .link-text {
  display: block;
}

.nav-link:hover {
  color: hsl(0, 0%, 90%);
}

#game-board {
  display: grid;
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  background-color: hsl(0, 0%, 80%);
  gap: var(--cell-gap);
  border-radius: 1vmin;
  padding: var(--cell-gap);
  font-size: 7.5vmin;
  position: relative;
}

.cell {
  background-color: hsl(0, 0%, 67%);
  border-radius: 1vmin;
}

.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 1vmin;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  font-weight: bold;
  background-color: hsl(200, 50%, var(--bg-lightness));
  color: hsl(200, 25%, var(--txt-lightness));
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}
