*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background-color: hsl(0, 0%, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  z-index: -1;
  position: relative;
}

/* .home-screen will be considered the popup */

.home-screen {
  height: 50vh;
  width: 75%;
  background-color: hsl(0, 0%, 67%);
  border-radius: 10px;
  border: 2px outset hsl(var(--theme-color), 100%, 50%);
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  color: hsl(var(--theme-color), 100%, 20%);
  visibility: hidden;
  transition: transform 0.5s, top 0.5s;
}

.show-home-screen {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.home-screen p {
  font-size: 96px;
  font-weight: 500;
  margin: 0;
  margin-top: 5vh;
}

.home-screen .theme-button {
  background-color: hsl(var(--theme-button-bgc), 50%, 50%);
  color: hsl(calc(mod(var(--theme-button-bgc) + 180, 360)), 50%, 50%);
  width: 30%;
  padding: 10px 0;
  margin: 10px;
  font-size: 18px;
  border: 1px outset hsl(var(--theme-color), 100%, 20%);
  border-radius: 5px;
  cursor: pointer;
}

.home-screen .play-button {
  width: 90%;
  margin-top: 5vh;
  padding: 15px 0;
  background-color: hsl(var(--theme-color), 50%, 70%);
  color: hsl(var(--theme-color), 100%, 20%);
  font-size: 48px;
  border: 2px outset hsl(var(--theme-color), 100%, 50%);
  border-radius: 10px;
  cursor: pointer;
}

#theme-button-2 {
  margin-top: 5vh;
}

button {
  all: unset;
}

button:focus {
  outline: revert;
}

.navbar {
  width: 2rem;
  height: 10%;
  position: fixed;
  background-color: hsl(0, 0%, 30%);
  top: 0;
  left: 0;
  transition: width 200ms ease;
  z-index: 1;
  border-right: 2px inset hsl(0, 0%, 67%);
  border-bottom: 2px inset hsl(0, 0%, 67%);
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 2rem;
  color: hsl(0, 0%, 70%);
  text-decoration: none;
}

.link-text {
  display: none;
  font-size: 2rem;
  transition: display 200ms ease;
}

.navbar:hover {
  width: 15rem;
}

.navbar:hover .link-text {
  display: block;
}

.nav-link:hover {
  color: hsl(0, 0%, 90%);
}

#game-board {
  display: grid;
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  background-color: hsl(0, 0%, 80%);
  gap: var(--cell-gap);
  border-radius: 1vmin;
  padding: var(--cell-gap);
  font-size: 7.5vmin;
  position: relative;
}

.cell {
  background-color: hsl(0, 0%, 67%);
  border-radius: 1vmin;
}

.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 1vmin;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  font-weight: bold;
  background-color: hsl(var(--theme-color), 50%, var(--bg-lightness));
  color: hsl(var(--theme-color), 25%, var(--txt-lightness));
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}
